<nav class="main-nav">
  <ul>
    <li><a href="/" class="<%= activePage==='home' ? 'active' : '' %>">Home</a></li>
    <li><a href="/transactions" class="<%= activePage==='transactions' ? 'active' : '' %>">Transactions</a></li>
    <li><a href="/years" class="<%= activePage==='insights' ? 'active' : '' %>">Insights</a></li>
    <li><a href="/manage" class="<%= activePage==='manage' ? 'active' : '' %>">Manage</a></li>
  </ul>
</nav>