node_modules/
data/
# Local environment settings
.env
# Ignore import folder (user-uploaded transaction files)
import/
# Test temporary data for tests
tests/tmp_data/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE and editor folders
.vscode/
.idea/

# Sample data
samples/

deploy.sh
